html,
body {
  height: 100%;
}


/* Phone styles */


body {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
}

#name {
  font-size: 5rem;
  font-weight: bold;
  padding: 7.5%;
}

.container {
  background-color: rgb(41, 41, 206);
  padding: 0.25rem;
  width: 95%;
  height: 85%;
  border: 0.15rem solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#screen {
  background-color: rgb(93, 93, 93);
  padding: 10%;
  width: 65%;
  height: 10%;
  margin-bottom: 5%;
  border: 0.15rem solid black;
  border-radius: 0.25rem;
}

.nums {
  background-color: rgb(40, 40, 205);
  width: 85%;
  height: 57.5%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.15rem solid rgb(13, 13, 139);
  border-radius: 0.5rem;
}

.item {
  display: flex;
  align-items: center;
  border: 0.15rem solid rgb(43, 43, 224);
  width: 97.5%;
  height: 70%;
}

.part {
  height: 95%;
  width: 25%;
  font-size: 3rem;
  border: 0.1rem solid rgb(13, 13, 139);
  border-radius: 0.25rem;
  background-color: rgb(43, 43, 224);
  margin: 0.1rem;
  color: #ffffff;
}

#zero {
  height: 95%;
  width: 50%;
  padding: 2rem;
  font-size: 3rem;
  border: 0.1rem solid rgb(13, 13, 139);
  border-radius: 0.5rem;
  background-color: rgb(43, 43, 224);
  margin: 0.1rem;
  margin-right: 0.5rem;
  color: #ffffff;
}


@media (min-width: 769px){
  .container {
    width: 500px;
    height: 100%;
  }
  #name {
    font-size: 3rem;
    font-weight: bold;
    padding: 7.5%;
  }
  .part,
  #zero {
    font-size: 1.5rem;
  }
}


  
